<!DOCTYPE html>
<html>
<head>
    <title>Update Member</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Update Member</h1>
    <form method="post" action="{{ url_for('update_member', member_id=member[0]) }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ member[1] }}" required>
        <button type="submit">Update</button>
    </form>
</body>
</html>
